<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.persistence.DBMapper">

<!-- SELECT文 -->
<select id="selectInfo" resultType="com.example.demo.EmployeeBean">
	SELECT
		*
	FROM
		employee
	WHERE
		id = '00001'
</select>

</mapper>